<div id="<%= dom_id vape_product %>">
  <p>
    <strong>Name:</strong>
    <%= vape_product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vape_product.price %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= vape_product.desc %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vape_product.category %>
  </p>

</div>
