<p style="color: green"><%= notice %></p>

<%= render @vape_product %>

<div>
  <%= link_to "Edit this vape product", edit_vape_product_path(@vape_product) %> |
  <%= link_to "Back to vape products", vape_products_path %>

  <%= button_to "Destroy this vape product", @vape_product, method: :delete %>
</div>
